
@{
    Layout = null;
    ViewBag.Title = "PrikaziNagrade";
    if (Session["KorisnikID"] == null)
    {
        Response.Redirect("~/Home/RegistracijaStranica");
    }
}
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Nagrade</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <style type="text/css">
        .centerDiv {
            width: 50%;
            /* height: 200px;*/
            margin: 0 auto;
            position: absolute;
            left: 25%;
            top: 20%;
            padding: 10px 10px;
        }

        .color {
            background-color: white;
        }

        .colorBody {
            background-color: azure;
        }
    </style>
</head>

<body class="colorBody">
    <div id="login" class="centerDiv">
        <div id="login-row" class="row justify-content-center  align-items-center">
            <div id="login-column" class="color table-bordered col-md-4 col-lg-6 col-sm-4 ">
                <div class="login-box col-md-12">
                    <br />
                    <h3 class="text-info">Licne Nagrade</h3>
                    <br />
                    <label for="username" class="text-info">
                        @ViewBag.FerplejIgrac.Item1.VrstaNagrade
                        @if (@ViewBag.FerplejIgrac.Item2 != null)
                        {

                            @ViewBag.FerplejIgrac.Item2.Ime
                            @ViewBag.FerplejIgrac.Item2.Prezime

                        }
                    </label>
                    <br />
                    <label for="username" class="text-info">


                        @ViewBag.NajboljiIgrac.Item1.VrstaNagrade
                        @if (@ViewBag.NajboljiIgrac.Item2 != null)
                        {
                            @ViewBag.NajboljiIgrac.Item2.Ime
                            @ViewBag.NajboljiIgrac.Item2.Prezime
                            <br />
                        }
                    </label>
                    <br />
                    <label for="username" class="text-info">
                        @ViewBag.NajboljiStrelac.Item1.VrstaNagrade
                        @if (@ViewBag.NajboljiStrelac.Item2 != null)
                        {
                            @ViewBag.NajboljiStrelac.Item2.Ime
                            @ViewBag.NajboljiStrelac.Item2.Prezime
                            <br />
                        }
                    </label>
                    <br /><br /><br />

                    <h3 class="text-info">Timske Nagrade</h3>
                    <br />
                    <label for="username" class="text-info">
                        @ViewBag.PrvoMesto.Item1.TipNagrade
                        @if (@ViewBag.PrvoMesto.Item2 != null)
                        {
                            @ViewBag.PrvoMesto.Item2.Ime
                           
                        }
                    </label>
                    <br />
                    <label for="username" class="text-info">
                        @ViewBag.DrugoMesto.Item1.TipNagrade
                        @if (@ViewBag.DrugoMesto.Item2 != null)
                        {
                            @ViewBag.DrugoMesto.Item2.Ime
                           
                        }
                    </label>

                </div>
            </div>

           
        </div>
    </div>
</body>