
@{
    Layout = null;
    ViewBag.Title = "Utakmice";
    if (Session["KorisnikID"] == null)
    {
        Response.Redirect("~/Home/RegistracijaStranica");
    }
}

    <h2>Utakmice</h2>



    @using (Html.BeginForm("OdigrajUtakmicu", "Utakmice", FormMethod.Post))
    {
            <table>
                    
                    @foreach (var utakmicaInfo in ViewBag.utakmice)
                    {
                        <tr>
                            <td>
                            @utakmicaInfo.ImePrviTim @utakmicaInfo.BrojGolovaPrviTim
                            @utakmicaInfo.BrojGolovaDrugiTim @utakmicaInfo.ImeDrugiTim
                            </td>
                        </tr>
                    }
                    
                    @if ((string)(Session["Rola"]) == "admin")
                    {
                        <tr>
                            <td>
                                <select name="utakmicaID" id="utakmicaID">
                                    @foreach (var utakmicaInfo in ViewBag.neodigraneUtakmice)
                                    {
                                        <option value="@utakmicaInfo.UtakmicaID">@utakmicaInfo.ImePrviTim @utakmicaInfo.ImeDrugiTim</option>
                                    }
                                </select>
                            </td>
                        </tr>
                        <tr>
                            @if (ViewBag.neodigraneUtakmice == null)
                            {
                                <td>
                                    <input type="submit" disabled value="Odigraj Utakmicu" />
                                </td>
                            }
                            @if (ViewBag.neodigraneUtakmice != null)
                            {
                                <td>
                                    <input type="submit" value="Odigraj Utakmicu" />
                                </td>
                            }
                        </tr>
                    }
                <tr>
                    <td colspan="2">
                        <a href="~/Utakmice/PrikaziNagrade">Prikazi Nagrade</a>
                    </td>
                </tr>
            </table>
    }



