
@model  FudbalskiKup.Models.Extended.LogovanjePodaci
@{
    Layout = null;
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Logovanje</title>
    <style>
        .field-validation-error {
            color: red;
        }
    </style>
</head>
<body>
    <div id="regDiv">
        @using (Html.BeginForm("Logovanje", "Home", FormMethod.Post))
        {
            <table>
                <tr>
                    <td></td>
                    <td>Logovanje</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.KorisnickoIme)</td>
                    <td>@Html.EditorFor(model => model.KorisnickoIme)</td>
                </tr>
                <tr>
                    <td></td>
                    <td>@Html.ValidationMessageFor(model => Model.KorisnickoIme)</td>
                </tr>               
                <tr>
                    <td>@Html.LabelFor(model => model.Sifra)</td>
                    <td>@Html.EditorFor(model => model.Sifra)</td>
                </tr>
                <tr>
                    <td></td>
                    <td>@Html.ValidationMessageFor(model => Model.Sifra)</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <label class="field-validation-error">@ViewBag.porukaGreske </label>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" value="Uloguj se" />
                        <input type="reset" value="Reset" />
                    </td>
                </tr>
            </table>
        }

        <script src="~/Scripts/jquery-3.4.1.min.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    </div>
</body>
</html>
