
@model FudbalskiKup.Models.Korisnik

@{
    Layout = null;
    if (Session["KorisnikID"] == null)
    {
        Response.Redirect("~/Home/RegistracijaStranica");
    }
}

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Profil</title>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <style type="text/css">
        .centerDiv {
            width: 85%;
            /* height: 200px;*/
            margin: 0 auto;
            position: absolute;
            left: 10%;
            top: 10%;
            padding: 10px 10px;
        }
        .color {
            background-color: white;
        }

        .colorBody {
            background-color: azure;
        }
    </style>
</head>

<body class="colorBody">
    <h1 class="text-center text-info">Korisnicki Nalog</h1>
    <div id="login" class="centerDiv">
        <div id="login-row" class="row justify-content-center color table-bordered">
                <div id="login-column" class="col-md-4">
                    <div class="login-box col-md-12">
                        <h3 class="text-center text-info">Informacije Naloga</h3>
                        <form id="nalog-form" class="form" action="IzmenaNaloga" method="post">
                            <div hidden>
                                <input type="text" required name="KorisnikID" id="KorisnikID" class="form-control" value="@Model.KorisnikID">
                                <input type="text" required name="Rola" id="Rola" class="form-control" value="@Model.Rola">
                            </div>

                            <div class="form-group">
                                <label for="KorisnickoIme" class="text-info">Korisnicko Ime:</label><br>
                                <input type="text" required name="KorisnickoIme" id="KorisnickoIme" class="form-control" value="@Model.KorisnickoIme">
                            </div>

                            <div class="form-group">
                                <label for="ime" class="text-info">Ime:</label><br>
                                <input type="text" required name="Ime" id="Ime" class="form-control" value="@Model.Ime">
                            </div>

                            <div class="form-group">
                                <label for="pezime" class="text-info">Prezime:</label><br>
                                <input type="text" required name="Prezime" id="Prezime" class="form-control" value="@Model.Prezime">
                            </div>

                            <div class="form-group">
                                <label for="email" class="text-info">Email:</label><br>
                                <input type="email" required name="Email" id="Email" class="form-control" value="@Model.Email">
                            </div>

                            <div class="form-group">
                                <label for="password" class="text-info">Sifra:</label><br>
                                <input type="password" required name="Sifra" id="Sifra" class="form-control">
                                (<i>unesite vasu lozinku kako biste mogli izvrsiti izmenu/brisanje naloga</i>)
                            </div>

                            <div class="form-group">
                                <input type="submit" name="submitButton" value="Izmeni Nalog" class="btn btn-info btn-md form-control" />
                                <br /> <br />
                                <input type="submit" name="submitButton" value="Obrisi Nalog" class="btn btn-info btn-md form-control" />
                            </div>
                        </form>
                    </div>
                </div>



                <div id="login-column3" class="col-md-4 t">
                    <div class=" col-md-12">
                        <h3 class="text-center text-info">Opcije Naloga</h3>
                        <hr />
                        <label for="username" class="text-info">Prikazi izabrani tim:</label>
                        <br /><br />
                        @using (Html.BeginForm("PrikazTima", "Tim", FormMethod.Get))
                        {
                            <select class="form-control" name="timID" id="timID">
                                @foreach (var tim in ViewBag.Tim)
                                {
                                    <option class="form-control" value="@tim.TimID">@tim.Ime</option>
                                }
                            </select><br /><br />
                            <input type="submit" value="Prikaži tim" class="btn btn-info btn-md form-control" />
                        }
                        @if ((string)(Session["Rola"]) == "user")
                        {
                            <hr />
                            using (Html.BeginForm("KartaPocetak", "Karta", FormMethod.Get))
                            {
                                <label for="username" class="text-info">Kupi Kartu:</label>
                                <br /><br />
                                <input type="submit" value="Kupi" class="btn btn-info btn-md form-control" />
                            }


                        }
                        <hr />

                        <label for="username" class="text-info">Prikazi utakmice:</label>
                        <br />
                        @using (Html.BeginForm("Utakmice", "Utakmice", FormMethod.Get))
                        {
                            <input type="submit" value="Utakmice" class="btn btn-info btn-md form-control" />
                        }
                        <hr />
                        <form id="login-form" class="form" action="Logovanje" method="post">
                            <div class="form-group">
                                <input type="submit" value="Izloguj Se" class="btn btn-info btn-md form-control">
                            </div>
                        </form>

                        <hr />
                    </div>
                </div>
            </div>
        </div>
   
</body>
