
@model FudbalskiKup.Models.Korisnik

@{
    Layout = null;
    if (Session["KorisnikID"] == null)
    {
        Response.Redirect("~/Home/RegistracijaStranica");
    }
}

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Profil</title>
    <style>
        .field-validation-error {
            color: red;
        }

        #profilDiv {
            position: absolute;
            left: 40%;
            top: 20%;
            border: 1px solid #ccc;
            padding: 50px 50px;
        }
    </style>
</head>
<body>
    
    <div id="profilDiv">
       
        @using (Html.BeginForm("IzmenaNaloga", "Home", FormMethod.Post))
        {
            <table>
                <tr style='visibility:collapse'>
                    <td> @Html.EditorFor(model => model.KorisnikID, new { htmlAttributes = new { placeholder = Model.KorisnikID } })</td>
                </tr>
                <tr>
                    <td></td>
                    <td> <h3>Profil</h3></td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.KorisnickoIme)</td>
                    <td>@Html.EditorFor(model => model.KorisnickoIme, new { htmlAttributes = new { placeholder = Model.KorisnickoIme } })</td>
                </tr>
                <tr>
                    <td></td>
                    <td>@Html.ValidationMessageFor(model => Model.KorisnickoIme)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.Ime)</td>
                    <td>@Html.EditorFor(model => model.Ime, new { htmlAttributes = new { placeholder = Model.Ime } })
                </tr>
                <tr>
                    <td></td>
                    <td>@Html.ValidationMessageFor(model => Model.Ime)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.Prezime)</td>
                    <td>@Html.EditorFor(model => model.Prezime, new { htmlAttributes = new { placeholder = Model.Prezime } })</td>
                </tr>
                <tr>
                    <td></td>
                    <td>@Html.ValidationMessageFor(model => Model.Prezime)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.Email)</td>
                    <td>@Html.EditorFor(model => model.Email, new { htmlAttributes = new { placeholder = Model.Email } })</td>
                </tr>
                <tr>
                    <td></td>
                    <td>@Html.ValidationMessageFor(model => Model.Email)</td>
                </tr>

                <tr>
                    <td>@Html.LabelFor(model => model.Sifra)</td>
                    <td>@Html.EditorFor(model => model.Sifra)</td>
                </tr>
                <tr>
                    <td></td>
                    <td>@Html.ValidationMessageFor(model => Model.Sifra) </td>
                </tr>

                <tr>
                    <td colspan="2">
                        <label class="field-validation-error">@ViewBag.porukaGreske </label>
                    </td>
                </tr>

                <tr>
                    <td>
                        <input type="submit" name="submitButton" value="Izmeni Nalog" />
                        <input type="submit" name="submitButton" value="Obrisi Nalog" />
                    </td>
                </tr>
            </table>
         }

            <table>
                <tr>                  
                    <td colspan="2">
                        @using (Html.BeginForm("Izloguj", "Home", FormMethod.Post))
                        {
                            <input type="submit" value="Izloguj Se" />

                        }
                    </td>

                    <td colspan="2">
                        @using (Html.BeginForm("PrikazTima", "Tim", FormMethod.Get))
                        {
                            <select name="timID" id="timID">
                                @foreach (var tim in ViewBag.Tim)
                                {
                                    <option value="@tim.TimID">@tim.Ime</option>
                                }
                            </select>
                            <input type="submit" value="Prikaži tim" />
                        }
                    </td>

                </tr>
                <tr>
                    <td colspan="2">
                        <a href="~/Karta/KartaPocetak">Kupi kartu</a>
                    </td>
                    <td>
                        <a href="~/Utakmice/Utakmice">Prikaži utakmice</a>
                    </td>
                </tr>
            </table>

        <script src="~/Scripts/jquery-3.4.1.min.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    </div>
</body>