
@model FudbalskiKup.Models.Korisnik
@{
    Layout = null;
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Registracija</title>
    <style>
        .field-validation-error{
            color: red;
        }
        #regDiv{
            position: absolute;
            left: 40%;
            top: 20%;
            border: 1px solid #ccc;
            padding: 10px 10px;
        }
    </style>
</head>
<body>
    <div id="regDiv" class="form-style">
        @using (Html.BeginForm("Registracija", "Home", FormMethod.Post))
        {
        <table>
            <tr>
                <td></td>
                <td><h3>Registration</h3></td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.KorisnickoIme)</td>
                <td>@Html.EditorFor(model => model.KorisnickoIme)</td>
            </tr>
            <tr>
                <td></td>
                <td>@Html.ValidationMessageFor(model => Model.KorisnickoIme)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.Ime)</td>
                <td>@Html.EditorFor(model => model.Ime)</td>
            </tr>
            <tr>
                <td></td>
                <td>@Html.ValidationMessageFor(model => Model.Ime)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.Prezime)</td>
                <td>@Html.EditorFor(model => model.Prezime)</td>
            </tr>
            <tr>
                <td></td>
                <td>@Html.ValidationMessageFor(model => Model.Prezime)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.Email)</td>
                <td>@Html.EditorFor(model => model.Email)</td>
            </tr>
            <tr>
                <td></td>
                <td>@Html.ValidationMessageFor(model => Model.Email)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.Sifra)</td>
                <td>@Html.EditorFor(model => model.Sifra)</td>
            </tr>
            <tr>
                <td></td>
                <td>@Html.ValidationMessageFor(model => Model.Sifra)</td>
            </tr>
            <tr>
                <td colspan="2">
                    <label class="field-validation-error">@ViewBag.porukaGreske </label>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Registruj se" />
                    <input type="reset" value="Reset" />
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <a href="~/Home/LogovanjeStranica">Vec imate nalog? Ulogujte se!</a>
                </td>
            </tr>
        </table>
           
           
        }

        <script src="~/Scripts/jquery-3.4.1.min.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    </div>
</body>
</html>